<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title | upcase }} | {% endif %}{{ site.title | upcase }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

{% if site.owner.twitter %}<!-- Twitter Cards -->
{% if page.imagefeature %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ '/images/' | append: page.imagefeature | absolute_url }}">
{% else %}<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ '/images/' | append: page.image.thumb | absolute_url }}{% else %}{{ '/images/' | append: site.logo | absolute_url }}{% endif %}">{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.imagefeature %}<meta property="og:image" content="{{ '/images/' | append: page.imagefeature | absolute_url }}">{% else %}<meta property="og:image" content="{{ '/images/' | append: site.logo | absolute_url }}">{% endif %}

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<link rel="canonical" href="{{ page.url | absolute_url }}">
<link href="{{ '/feed.xml' | absolute_url }}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/vendor/font-awesome.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/vendor/normalize.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/vendor/nprogress.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/vendor/foundation.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">


{% if page.mathjax %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>{% endif %}


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
<!-- 32x32 -->
<link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ '/images/apple-touch-icon-precomposed.png' | relative_url }}">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/images/apple-touch-icon-72x72-precomposed.png' | relative_url }}">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/images/apple-touch-icon-114x114-precomposed.png' | relative_url }}">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/images/apple-touch-icon-144x144-precomposed.png' | relative_url }}">
